# Prevendo o preço de Automóveis

In [2]:
import pandas as pd
base = pd.read_csv("./autos.csv", encoding="ISO-8859-1")
base.head()

           dateCrawled  ...             lastSeen
0  2016-03-24 11:52:17  ...  2016-04-07 03:16:57
1  2016-03-24 10:58:45  ...  2016-04-07 01:46:50
2  2016-03-14 12:52:21  ...  2016-04-05 12:47:46
3  2016-03-17 16:54:04  ...  2016-03-17 17:40:17
4  2016-03-31 17:25:20  ...  2016-04-06 10:17:21

[5 rows x 20 columns]

# Removendo colunas que não agregam na base de dados

 Isso é feito afim de reduzir a base de dados para os atributos mais relevantes, assim, a o algorítimo terá apenas dados relevantes sobre o problema em questão

In [3]:
base = base.drop("dateCrawled", axis=1)
base = base.drop("nrOfPictures", axis=1)
base = base.drop("dateCreated", axis=1)
base = base.drop("postalCode", axis=1)
base = base.drop("lastSeen", axis=1)

base.shape

(371528, 15)

In [4]:
base["name"].value_counts()

Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Seat_Altea_XL_1.6_TDI_DSG_Copa__Xenon__Navi__Multifun      1
Peugeot_Silber_Automatik_4Tuerig                           1
Seat_arosa_tuev_09/2017                                    1
Seat_arosa_lupo                                            1
Guter_Rentnerwagen                                         1
Name: name, Length: 233531, dtype: int64

In [5]:
base = base.drop("name", axis=1)

In [6]:
base["seller"].value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [7]:
base = base.drop("seller", axis=1)

In [8]:
base["offerType"].value_counts()

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

In [9]:
base = base.drop("offerType", axis=1)

In [10]:
base.shape

(371528, 12)

# Pré-Processamento de valores inconsistente

In [11]:
i1 = base.loc[base.price <= 10]

In [12]:
i1.head()

     price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
7        0     test   limousine  ...    benzin      volkswagen               nein
40       0     test         NaN  ...    benzin            opel                NaN
60       1  control         suv  ...       NaN  sonstige_autos                NaN
91       1  control   limousine  ...    diesel   mercedes_benz               nein
115      0     test         NaN  ...    benzin      volkswagen                NaN

[5 rows x 12 columns]

In [13]:
base = base[base.price > 10]

In [14]:
base.shape

(359410, 12)

In [15]:
i2 = base.loc[base.price > 350000]

In [16]:
i2.head()

          price   abtest vehicleType  ...  fuelType       brand  notRepairedDamage
1846     579000  control       coupe  ...    benzin         bmw               nein
10649    420000  control       coupe  ...    benzin     porsche               nein
14663  11111111  control       coupe  ...    benzin  volkswagen                NaN
16889   1000000  control       kombi  ...    benzin        ford                 ja
20143   1250000     test       coupe  ...    benzin     porsche               nein

[5 rows x 12 columns]

In [17]:
base = base.loc[base.price < 350000]

In [18]:
base.shape

(359291, 12)

# Pré-processamento de valores faltantes

In [19]:
# Verificando os valores faltantes do atributo vehicleType para que posteriormente no código seja modificados

base[pd.isnull(base["vehicleType"])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
16        300     test         NaN  ...    benzin      volkswagen                NaN
22       2900     test         NaN  ...    benzin            opel               nein
26       5555  control         NaN  ...       NaN         citroen               nein
31        899  control         NaN  ...    benzin         renault                NaN
...       ...      ...         ...  ...       ...             ...                ...
371495    180  control         NaN  ...    benzin            opel                NaN
371504   2600  control         NaN  ...       NaN   mercedes_benz                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371519   5250  control         NaN  ...       NaN      alfa_romeo               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[33546 rows x 12 columns]

In [20]:
# Verificando qual o vehicleType mais se repete na base de dados, afim de subistituir os valores faltantes desse
# atibuto

base["vehicleType"].value_counts() # limousine

limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: vehicleType, dtype: int64

In [21]:
# Verificando os valores faltantes desse atribulto para que eles sejam subistituidos

base.loc[pd.isnull(base["gearbox"])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
15        450     test  kleinwagen  ...    benzin            ford                NaN
16        300     test         NaN  ...    benzin      volkswagen                NaN
32        245     test   limousine  ...    benzin      volkswagen               nein
37       1500     test         NaN  ...    diesel         renault               nein
70       1200     test       coupe  ...       NaN            opel                NaN
...       ...      ...         ...  ...       ...             ...                ...
371443   3300  control       kombi  ...    diesel      volkswagen                NaN
371460   3500  control         NaN  ...       NaN      volkswagen                NaN
371486    350  control  kleinwagen  ...       NaN            fiat                NaN
371495    180  control         NaN  ...    benzin            opel                NaN
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[17236 rows x 12 columns]

In [22]:
# verificando qual o gearbox mais aparece na base de dados, para que posteriormente possa ser utilizada NaN
# desse atribulto

base["gearbox"].value_counts() # manuell

manuell      266547
automatik     75508
Name: gearbox, dtype: int64

In [23]:
# Verificando os valores faltantes desse atribulto para que eles sejam subistituidos

base.loc[pd.isnull(base["model"])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
1       18300     test       coupe  ...    diesel            audi                 ja
83        350  control  kleinwagen  ...       NaN            fiat                 ja
139      1450  control   limousine  ...       NaN            audi               nein
156      6799  control  kleinwagen  ...    benzin      volkswagen               nein
165       500  control  kleinwagen  ...    benzin         renault               nein
...       ...      ...         ...  ...       ...             ...                ...
371399    560  control  kleinwagen  ...    benzin            fiat                 ja
371476   9400  control       kombi  ...    diesel  sonstige_autos                 ja
371495    180  control         NaN  ...    benzin            opel                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[17967 rows x 12 columns]

In [24]:
# verificando qual o model mais aparece na base de dados, para que posteriormente possa ser utilizada NaN
# desse atribulto

base["model"].value_counts() # golf

golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
discovery_sport        1
serie_1                1
Name: model, Length: 251, dtype: int64

In [25]:
# Verificando os valores faltantes desse atribulto para que eles sejam subistituidos

base.loc[pd.isnull(base["fuelType"])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
9         999     test  kleinwagen  ...       NaN      volkswagen                NaN
13       2500  control       kombi  ...       NaN      volkswagen               nein
26       5555  control         NaN  ...       NaN         citroen               nein
36       1600  control      andere  ...       NaN            opel                NaN
41       7500  control   limousine  ...       NaN   mercedes_benz                NaN
...       ...      ...         ...  ...       ...             ...                ...
371496   3850     test      cabrio  ...       NaN         peugeot               nein
371504   2600  control         NaN  ...       NaN   mercedes_benz                NaN
371509   1900     test         NaN  ...       NaN      volkswagen               nein
371519   5250  control         NaN  ...       NaN      alfa_romeo               nein
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN

[29391 rows x 12 columns]

In [26]:
# verificando qual o fuelType mais aparece na base de dados, para que posteriormente possa ser utilizada NaN
# desse atribulto

base["fuelType"].value_counts() # benzin

benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: fuelType, dtype: int64

In [27]:
# Verificando os valores faltantes desse atribulto para que eles sejam subistituidos

base.loc[pd.isnull(base["notRepairedDamage"])]

        price   abtest vehicleType  ...  fuelType           brand  notRepairedDamage
0         480     test         NaN  ...    benzin      volkswagen                NaN
2        9800     test         suv  ...    diesel            jeep                NaN
8       14500  control         bus  ...    benzin            ford                NaN
9         999     test  kleinwagen  ...       NaN      volkswagen                NaN
12        999  control       kombi  ...    benzin      volkswagen                NaN
...       ...      ...         ...  ...       ...             ...                ...
371507   5999     test       kombi  ...    diesel            audi                NaN
371514    999  control      cabrio  ...    benzin         renault                NaN
371515   1690     test       kombi  ...    benzin           skoda                NaN
371523   2200     test         NaN  ...       NaN  sonstige_autos                NaN
371526   3400     test       kombi  ...    diesel      volkswagen                NaN

[65986 rows x 12 columns]

In [28]:
# verificando qual o notRepairedDamage mais aparece na base de dados, para que posteriormente possa ser utilizada NaN
# desse atribulto

base["notRepairedDamage"].value_counts() # nein

nein    259301
ja       34004
Name: notRepairedDamage, dtype: int64

# Substituindo os valores faltantes da base de dados

In [29]:
valores = {"vehicleType": "limousine", "gearbox": "manuell",
           "model": "golf", "fuelType": "benzin", "notRepairedDamage": "nein"}
print(valores)

{'vehicleType': 'limousine', 'gearbox': 'manuell', 'model': 'golf', 'fuelType': 'benzin', 'notRepairedDamage': 'nein'}

   ### Subistituindo os valores NaN das colunas citadas no Dicionário assina, pelas chaves do dict

In [30]:
base = base.fillna(value=valores)

# Separando os atributos Previsores e da Classe

In [31]:
# Separando os previsores em um array numpy

previsores = base.iloc[:, 1:13].values

In [32]:
# Separando a classe em um array numpy

preco_real = base.iloc[:, 0].values

# Aplicando o LabelEncoder e o One Hot Encoder
É uma Classe do pandas que transforma dados categóricos(palavras) em dados numéricos, isso é feito, pois, modelos de Machile Learning só conseguem utilizar valores numéricos para realizar os cálculos

In [33]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

labelencoder_previsores = LabelEncoder()
onehotencorder = ColumnTransformer(transformers=[("OneHot", 
                                                  OneHotEncoder(), 
                                                  [0,1,3,5,8,9,10])],
                                                   remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [34]:
previsores.shape

(359291, 316)

# Validação Cruzada

In [39]:
# Libs para criar a rede Neural 
from keras.models import Sequential
from keras.layers import Dense

# importando as libs para fazer a validação cruzada
from sklearn.model_selection import cross_val_score
from keras.wrappers.scikit_learn import KerasRegressor

def criar_rede():
    # Criando o modelo
    regressor = Sequential()
    regressor.add(Dense(units=158, activation="relu", input_dim=316))
    regressor.add(Dense(units=158, activation="relu"))
    regressor.add(Dense(units=1, activation="linear"))

    # Compilando o modelo criado
    regressor.compile(loss="mean_absolute_error",
                      optimizer="adam",
                      metrics=["mean_absolute_error"])
    return regressor

In [ ]:
# criando a validação cruzada

regressor = KerasRegressor(build_fn=criar_rede,
                          epochs=10,
                          batch_size=300)

# salvando os resultados em uma variável
resultado = cross_val_score(estimator=regressor,
                            X=previsores,
                            y=preco_real,
                            cv=10,
                            scoring="neg_mean_squared_error")
media = resultado.mean()
desvio = resultado.std()

Epoch 1/10
1078/1078 [==============================] - 46s 9ms/step - loss: 4256.7892 - mean_absolute_error: 4256.7892
Epoch 2/10
1078/1078 [==============================] - 7s 7ms/step - loss: 3487.5914 - mean_absolute_error: 3487.5914
Epoch 3/10
1078/1078 [==============================] - 7s 7ms/step - loss: 3240.8891 - mean_absolute_error: 3240.8891
Epoch 4/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2978.5862 - mean_absolute_error: 2978.5862
Epoch 5/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2865.6235 - mean_absolute_error: 2865.6235
Epoch 6/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2801.2112 - mean_absolute_error: 2801.2112
Epoch 7/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2746.8219 - mean_absolute_error: 2746.8219
Epoch 8/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2714.0810 - mean_absolute_error: 2714.0810
Epoch 9/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2686.1633 - mean_absolute_error: 2686.1633
Epoch 10/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2652.4011 - mean_absolute_error: 2652.4011
Epoch 1/10
1078/1078 [==============================] - 23s 7ms/step - loss: 4317.1761 - mean_absolute_error: 4317.1761
Epoch 2/10
1078/1078 [==============================] - 7s 6ms/step - loss: 3426.1784 - mean_absolute_error: 3426.1784
Epoch 3/10
1078/1078 [==============================] - 7s 7ms/step - loss: 3185.1403 - mean_absolute_error: 3185.1403
Epoch 4/10
1078/1078 [==============================] - 6s 6ms/step - loss: 3006.6588 - mean_absolute_error: 3006.6589
Epoch 5/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2899.2644 - mean_absolute_error: 2899.2644
Epoch 6/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2802.6536 - mean_absolute_error: 2802.6536
Epoch 7/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2748.5629 - mean_absolute_error: 2748.5628
Epoch 8/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2732.4788 - mean_absolute_error: 2732.4788
Epoch 9/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2672.6096 - mean_absolute_error: 2672.6096
Epoch 10/10
1078/1078 [==============================] - 11s 10ms/step - loss: 2637.6606 - mean_absolute_error: 2637.6605
Epoch 1/10
1078/1078 [==============================] - 29s 10ms/step - loss: 4197.8559 - mean_absolute_error: 4197.8559
Epoch 2/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3418.3445 - mean_absolute_error: 3418.3445
Epoch 3/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3151.9145 - mean_absolute_error: 3151.9145
Epoch 4/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2945.2101 - mean_absolute_error: 2945.2101
Epoch 5/10
1078/1078 [==============================] - 7s 6ms/step - loss: 2820.0207 - mean_absolute_error: 2820.0207
Epoch 6/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2779.1238 - mean_absolute_error: 2779.1238
Epoch 7/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2736.9685 - mean_absolute_error: 2736.9687
Epoch 8/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2686.3178 - mean_absolute_error: 2686.3178
Epoch 9/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2638.4562 - mean_absolute_error: 2638.4563
Epoch 10/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2615.5276 - mean_absolute_error: 2615.5276
Epoch 1/10
1078/1078 [==============================] - 14s 9ms/step - loss: 4369.4176 - mean_absolute_error: 4369.4176
Epoch 2/10
1078/1078 [==============================] - 7s 7ms/step - loss: 3491.5682 - mean_absolute_error: 3491.5682
Epoch 3/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3315.0598 - mean_absolute_error: 3315.0598
Epoch 4/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3081.0793 - mean_absolute_error: 3081.0793
Epoch 5/10
1078/1078 [==============================] - 8s 8ms/step - loss: 2895.4777 - mean_absolute_error: 2895.4777
Epoch 6/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2811.9325 - mean_absolute_error: 2811.9325
Epoch 7/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2752.6624 - mean_absolute_error: 2752.6624
Epoch 8/10
1078/1078 [==============================] - 7s 6ms/step - loss: 2716.3524 - mean_absolute_error: 2716.3524
Epoch 9/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2667.0111 - mean_absolute_error: 2667.0111
Epoch 10/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2621.6601 - mean_absolute_error: 2621.6601
Epoch 1/10
1078/1078 [==============================] - 8s 7ms/step - loss: 4299.9281 - mean_absolute_error: 4299.9281
Epoch 2/10
1078/1078 [==============================] - 7s 7ms/step - loss: 3442.2989 - mean_absolute_error: 3442.2989
Epoch 3/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3129.3744 - mean_absolute_error: 3129.3744
Epoch 4/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2991.5774 - mean_absolute_error: 2991.5774
Epoch 5/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2838.3771 - mean_absolute_error: 2838.3771
Epoch 6/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2799.1136 - mean_absolute_error: 2799.1136
Epoch 7/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2790.5640 - mean_absolute_error: 2790.5640
Epoch 8/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2739.5538 - mean_absolute_error: 2739.5538
Epoch 9/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2672.8421 - mean_absolute_error: 2672.8421
Epoch 10/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2652.4367 - mean_absolute_error: 2652.4367
Epoch 1/10
1078/1078 [==============================] - 10s 8ms/step - loss: 4284.9408 - mean_absolute_error: 4284.9408
Epoch 2/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3502.5154 - mean_absolute_error: 3502.5154
Epoch 3/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3184.0561 - mean_absolute_error: 3184.0561
Epoch 4/10
1078/1078 [==============================] - 8s 7ms/step - loss: 3002.1243 - mean_absolute_error: 3002.1243
Epoch 5/10
1078/1078 [==============================] - 7s 7ms/step - loss: 2872.0020 - mean_absolute_error: 2872.0020
Epoch 6/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2788.9545 - mean_absolute_error: 2788.9545
Epoch 7/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2734.7492 - mean_absolute_error: 2734.7491
Epoch 8/10
1078/1078 [==============================] - 8s 7ms/step - loss: 2688.9675 - mean_absolute_error: 2688.9675
Epoch 9/10
1078/1078 [==============================] - 8s 8ms/step - loss: 2692.8340 - mean_absolute_error: 2692.8340
Epoch 10/10
1078/1078 [==============================] - 9s 8ms/step - loss: 2629.4756 - mean_absolute_error: 2629.4756
Epoch 1/10
1078/1078 [==============================] - 9s 8ms/step - loss: 4273.4710 - mean_absolute_error: 4273.4710
Epoch 2/10
 525/1078 [=============>................] - ETA: 4s - loss: 3490.1480 - mean_absolute_error: 3490.1480