# Modelo de Machile Learning com multiplas saidas

In [2]:
import pandas as pd
from keras.layers import Dense, Dropout, Activation, Input
from keras.models import Model

In [8]:
base = pd.read_csv("games.csv")

In [11]:
base.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,76.0,51.0,8,322.0,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,82.0,73.0,8.3,709.0,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,80.0,73.0,8,192.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,NaN,NaN,NaN,NaN,NaN

In [10]:
base = base.drop("Other_Sales", axis=1)
base = base.drop("Global_Sales", axis=1)
base = base.drop("Developer", axis=1)

In [12]:
base.shape

(16719, 13)

# Pré-Processamento do Dataset para aplicar o aprendizado de Maquina

### Correção dos valores faltantes

In [13]:
base = base.dropna(axis=0)

In [15]:
base.shape

(6825, 13)